body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    height: 100%;
    width: 100%;
    width: 1100px;
    margin: auto;
}

.top {
    position: relative;
    left: 300px;
}

.title {
    top: 0px;
    font-size: 50px;
}

.subtitle {
    font-size: 25px;
}

.logo {
    top: -50px;
    left: 350px;
    position: absolute;
}

.description {
    font-size: 30px;
}

.intro {
    font-size: 20px;
    text-align: left;
    word-wrap: break-word;
    max-width: 350px;
}

.product {
    font-size: 20px;
}

.join {
    position: relative;
    top: 175px;
    text-align: center;
}

.team {
    position: absolute;
    margin-top: -520px;
    left: 800px;
}
